/* TODO: inserite il CSS necessario per completare il MHW! */

#bottone {
  height: 50px;
  background-color: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottone:hover {
  background-color: #e0e0e0;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.choice-grid {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  align-content: space-between;
  justify-content: space-between;
}

.choice-grid div {
  display: flex;
  background-color: #f4f4f4;
  box-sizing: border-box;
  width: 32.5%;
  border: solid #dcdcdc 1px;
  border-color: #dcdcdc;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

#contenuto {
  margin-bottom: 18px;
  margin-top: 0px;
}

.div-in-basso{
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

@media (max-width: 500px){
  article{
    width: 95%;
  }
  header div{
    display:none ;
  }
  .choice-grid div{
    width:49%;
  }
}

@media (max-width: 700px){
  article{
    width: 95%;
  }
  header div{
    display:none ;
  }
}

.question-name{
  margin-bottom: 0px;
}

#result {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
}
  
#result h1 {
  margin-bottom: 18px;
  margin-top: 0px;
}
  
.selected {
  background-color: #cfe3ff;
}

.unselected {
  opacity: 0.6;
}

